<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" parallel="tests" name="Suite">

 <listeners>
 	<listener class-name="com.flipkart.util.ExtentReportListener"/>
 </listeners>
  <test thread-count="1" parallel="tests" name="Test">
    <classes>
  	  <class name="com.flipkart.test.LoginPageTest"/>
      <class name="com.flipkart.test.AccountsPageTest"/>
      <class name="com.flipkart.test.WomenProductPageTest"/>
      <class name="com.flipkart.test.ShoppingCartPageTest"/> 
      <class name="com.flipkart.test.OrderDetailsPageTest"/>
      <class name="com.flipkart.test.OrderShippingPageTest"/>
      <class name="com.flipkart.test.OrderPaymentPageTest"/>
      <class name="com.flipkart.test.OrderConfirmationPageTest"/>
      
      
    </classes>
    
 <!--<packages>  
       <package name="com.flipkart.test"/>
   </packages>  -->
  </test> <!-- Test -->
</suite> <!-- Suite -->
